* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5F295F;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid lightgrey;
}

.mobile-menu-btn {
    position: relative;
    display: block;
    width: 18px;
    cursor: pointer;
    margin-left: 5%;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
}

.mobile-menu-btn .bar, .mobile-menu-btn::after, .mobile-menu-btn:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5F295F;
    margin: 6px 0;
    transition: all 0.4s;
}

.mobile-menu-btn.is-active:before {
    transform: rotate(-45deg) translate(-7.5px, 3px);
}

.mobile-menu-btn.is-active:after {
    transform: rotate(45deg) translate(-8px, -4px);
}

.mobile-menu-btn.is-active .bar {
    opacity: 0;
}

.logo {
    z-index: 99;
    margin-top: 5px;
    margin-left: 10%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.logo a {
    font-weight: 700;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 48px;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #fff;
    padding-top: 100px;
    padding-left: 20px;
    transition: .4s;
    transition-delay: .2s;
}

.menu.is-active {
    left: 0;
}

.menu li {
    border-bottom: 1px solid #5F295F;
    padding: 20px 0 30px;
}

.menu a {
    font-weight: 600;
    font-size: 1rem;
}

.sign-up {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
}

.sign-up li {
    display: inline-block;
    padding: 10px 20px;
}

.sign-up a {
    display: inline;
    font-size: .8rem;
    font-weight: 600;
}

.sign-up button {
    background-color: #5F295F;
    color: #fff;
    padding: 0 15px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

.sign-up button:hover {
    background-color: #875F88;
    transition: background-color .15s ease-in-out;
}

/* HERO */
.hero {
    margin-top: 50px;
    background:  linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('./images/lake.webp');
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 5%;
}


.hero h2, .hero h4 {
    color: #fff;
    text-shadow: 0 0 30px rgba(0,0,0,.7);
    width: 250px;
}

.hero h2 {
    font-size: 2rem;
    font-weight: 700;
}

.hero h4 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero button {
    top: 52%;
    left: 5%;
    background-color: #fff;
    color: #5F295F;
    font-weight: 700;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #e1d9d1;
    transition: .4s;
}

/* BOOKING WIDGET */
.booking-widget {
    width: 100%;
    margin: 0px auto 40px auto;
}

.booking-widget ul {
    width: 95%;
    margin: 20px auto;
    list-style: none;
    position: relative;
}

.booking-widget li {
    padding: 10px;
}

.trip-type {
    display: block;
}

.booking-widget label {
    display: block;
    margin-bottom: 5px;
    font-size: .8rem;
    color: #5F295F;
    font-weight: 500;
}

.booking-widget input, select {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: grey;
    padding: 8px 0 8px 0;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}

.travel-options {
    width: 100%;
    display: flex;
}

#trip {
    margin-right: 20px;
}

.destination {
    position: relative;
}

.bi-arrow-down-up {
    color: #5F295F;
    position: absolute;
    top: 15%;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.bi-arrow-down-up:active {
   font-size: 1.3rem;
}

.booking-widget button {
    width: 100%;
    padding: 18px;
    border-radius: 10px;
    border: none;
    background-color: #5F295F;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.booking-widget button:hover {
    background-color: #875F88;
    transition: .4s;
}

.return-date-none {
    display: none;
}

/* FLIGHT DEALS */
.flight-deals {
    width: 95%;
    margin: 0px auto 40px auto;
}

.fly-from {
    text-align: center;
}

.flight-deals h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    display: inline-block;
}

.flight-deals select {
    border: none;
    width: 180px;
    font-size: 1.4rem;
    font-weight: 600;
}

.flight-deals h2, .flight-deals select {
    color: #5F295F;
}

.gallery-container {
    width: 95%;
    margin: 0 auto;
}

.deals {
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    border: .5px solid lightgray;
    cursor: pointer;
}

.deals:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3), 0px -1px 5px 0px rgba(0,0,0,0.5);
}

.deals figure {
    text-align: center;
    padding: 10px;
}

.deals figure h3, h4, .price {
    color: #5F295F;
    margin: 4px 0;
}

.deals figure h3 {
    letter-spacing: 6px;
    font-size: 1.1rem;
    font-weight: 400;
}

.deals figure h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.date {
    color: black;
    font-size: .9rem;
    margin-top: 10px;
}

.price {
    font-weight: 600;
}

.deals img {
    object-fit: contain;
    width: 100%;
    height: auto;
    grid-row-start: 1;
}

/* TRAVEL DESTINATIONS */
.travel-destinations {
    width: 95%;
    margin: 0 auto 40px auto;
    overflow: hidden;
}

.travel-destinations h2 {
    color: #5F295F;
    margin-bottom: 10px;
}

.travel-destinations h2, .travel-destinations p {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.travel-destinations p {
    text-align: left;
    margin-bottom: 10px;
}

.map-container {
    margin: 0 auto;
    width: 95%;
}

.map {
    overflow: scroll;
    position: relative;
}

.zoom-buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.zoom-in, .zoom-out {
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

.zoom-in {
 border: 1px solid #5F295F;
 border-radius: 4px 4px 0 0;
}

.zoom-out {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    border-style: solid;
    border-color: #5F295F;
}

.bi-plus-lg, .bi-dash-lg {
    color: #5F295F;
}

/* FOOTER */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5F295F;
}

.links-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.help, .book, .manage, .where-we-fly {
    margin: 20px auto 0 auto;
    color: #fff;
    padding-right: 15px;
}

.help h4, .book h4, .manage h4, .where-we-fly h4 {
    color: #fff;
    margin-bottom: 10px;
}

.help li, .book li, .manage li, .where-we-fly li {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: .8rem;
}

.help a, .book a, .manage a, .where-we-fly a, footer p {
    color: #fff;
}

footer p {
    text-align: center;
    padding-bottom: 20px;
    font-size: .6rem;
}


/* IPAD+ */
@media only screen and (min-width: 891px) {

    .mobile-menu-btn {
        display: none;
    }

    .title {
        display: flex;
        font-weight: 600;
        margin-left: 20px;
    }

    .menu {
        left: 0;
        top: 0;
        position: relative;
        width: auto;
        flex-direction: row;
        margin-left: 10px;
        background: none;
        padding-top: 0;
        min-height: 0;
        transition: none !important;
    }

    .menu li {
        border: none;
        padding: 0 10px;
    }

    .menu a {
        font-weight: 500;
        font-size: .9rem;
    }

    .sign-up {
        border-left: 1px solid #5F295F;
    }

    .hero h2 {
        font-size: 2.1rem;
        width: 350px;
    }

    .hero h4 {
        font-size: 1.5rem;
    }

    .hero button {
        font-size: 1rem;
    }

    .booking-widget ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr) repeat(3, 1fr);
        grid-template-rows: auto;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
        border: .5px solid lightgray;
        gap: 10px;
    }

    .travel-options {
        grid-row: 1;
        grid-column: 1/3;
    }

    .cabin-type {
        grid-row: 1;
        grid-column: 3/5;
    }

    .depart-from {
        grid-row: 2;
        grid-column: 1/2;
    }

    .destination {
        grid-row: 2;
        grid-column: 2/3;
    }

    .departure-date {
        grid-row: 2;
        grid-column: 3/4;
        
    }
    .return-date {
        grid-row: 2;
        grid-column: 4/5;
    }
    .passengers{
        grid-row: 2;
        grid-column: 5/6;
    }
    .click-search {
        grid-row: 3;
        grid-column: 4/6;
    }

    .bi-arrow-down-up {
        right: 95%;
        transform: rotate(90deg);
    }

    .departure-date input, .return-date input, .passengers select {
        padding-top: 6px;
    }
 
   .booking-widget button {
        padding: 14px;
   }

   .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px;
    width: 100%;
   }

   .travel-destinations h2, .travel-destinations p {
    width: 80%;
   }

   .map-container {
        width: 80%;
   }

   .map img {
        width: 100%;
   }
    
}

/* LAPTOP */
@media only screen and (min-width: 1200px) {

    .hero {
        height: 850px;
    }

    .hero h2, .hero h4 {
        width: 700px;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .hero h4 {
        font-size: 1.8rem;
    }

    .booking-widget, .flight-deals, .travel-destinations, .links-container {
        max-width: 1000px;
    }
    
    .booking-widget {
        margin-bottom: 100px;
    }

    .booking-widget ul {
        top: 0;
        z-index: 99;
        background-color: #fff;
        left: 0;
        right: 0;
        margin-top: -10vh;
        width: 100%;
    }

    .flight-deals h2 {
        font-size: 1.7rem;
    }

    .flight-deals select {
        font-size: 1.7rem;
        width: 240px;
    }

    .map-container {
        width: 80%;
    }

    .map {
        width: 100%;
    }

    /* FOOTER */
    .links-container {
        width: 70%;
    }

}

/* DESKTOP */
@media only screen and (min-width: 1900px) {

    .hero {
        height: 1000px;
    }

    .hero-content {
        min-width: 800px;
    }

    .hero h2, .hero h4 {
        width: 100%;
    }

    .hero h2 {
        font-size: 4rem;
    }

    .hero h4 {
        font-size: 3rem;
    }

    .hero button {
        font-size: 1.6rem;
    }

    .travel-destinations {
        width: 50%;
    }

    .map-container {
        width: 100%;
    }

    .map {
        width: 100%;
    }
    
}